/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-image: url("/assets/bg-tile.png");
  background-color: #303030;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
  color: #303030;
}

h1 {
  font-size: 28px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 22px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: #ee7400;
}

a:hover, a:active {
  color: #ec9f56;
}

pre, code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  font-size: 16px;
  font-family: monospace;
}

/* main site container */

.site {
  width: 600px;
  margin: 3em auto 2em;
  background-color: #ffffff;
  padding: 20px;
}

/* top content header */

.nametag {
  float: left;
}

.name {
  font-family: 'Chivo', 'Titillium Web', sans-serif;
  letter-spacing: -1px;
  font-size: 64px;
  color: #303030;
  line-height: 1.2;
}

.tagline {
  letter-spacing: -1px;
  font-size: 24px;
  color: #aaa;
  font-weight: normal;
  line-height: 1.3;
}

.logo {
  float: right;
}

.clear {
  clear: both;
  float: none;
}

/* navigation bar */

.nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.nav li {
  float:left;
}

.nav a:link, .nav a:visited {
  display:block;
  width:112px;
  color:#FFFFFF;
  background-color:#303030;
  text-align:center;
  padding:4px;
  padding-bottom:6px;
  text-decoration:none;
  font-variant:small-caps;
  font-size: 20px;
}

.nav a:hover, .nav a:active {
  background-color: #ee7400;
}

.nav .navactive a {
  background-color: #ee7400;
}

/* subscribe and archive links on home page */

span.morenews {
  font-size: 18px;
  font-weight: normal;
}

/* news posts, pages */

.posts ul, .posts ol, .pages ul, .pages ol {
  margin-left: 40px;
}

.meta, .pages em {
  margin: 0;
  color: #888;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.news ul, .news ol {
  margin-left: 0px;
  list-style-type: none;
}

/* other stuff */

.torinabox {
  clear: right;
  float: right;
}

