<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <h3>Grounded in Research</h3>
            <p>Shadow was originally designed as part of the following publication:</p>
                <div align="left">
                <p>&#x20;Rob Jansen and Nicholas Hopper. "<a onclick="javascript: _gaq.push(['_trackPageview', '/downloads/shadow-ndss2012.pdf']);" href="http://www.robgjansen.com/publications/shadow-ndss2012.pdf">Shadow: Running Tor in a Box for Accurate and Efficient Experimentation</a>," <span style="font-style: italic;">Proceedings of the 19th Symposium on Network and Distributed System Security (NDSS),</span> 2012.</p>
<pre>@inproceedings{shadow-ndss12,
  title = {Shadow: Running Tor in a Box for Accurate and Efficient Experimentation},
  author = {Rob Jansen and Nicholas Hopper},
  booktitle = {Proceedings of the 19th Symposium on Network and Distributed System Security (NDSS)},
  year = {2012},
  month = {February},
  publisher = {Internet Society},
}</pre>
                </div>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->
