<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-bolt"></i>
                <h4>Easy installation</h4>
                <p>Be up and running in minutes with comprehensive and up-to-date setup guides.</p>
                <p><br/><a href="https://shadow.github.io/docs/guide/supported_platforms.html" class="btn btn-theme">Shadow Setup Instructions</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-group"></i>
                <h4>Shadow Runs Tor!</h4>
                <p>Researchers and developers use Shadow to simulate the Tor network.</p>
                <p><br/><a href="https://github.com/shadow/tornettools" class="btn btn-theme">Tor Simulation Tools</a></p>
            </div>
	 		<div class="col-md-4">
                <i class="fa fa-btc"></i>
                <h4>Shadow Runs Bitcoin!</h4>
                <p>A Shadow plug-in is available for running Bitcoin nodes using the latest Bitcoin software releases.</p>
                <p><br/><a href="https://github.com/shadow/shadow-plugin-bitcoin/wiki" class="btn btn-theme">Bitcoin Plug-in Instructions</a></p>
            </div>	
        </div>
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-dashboard"></i>
                <h4>Scalable and Efficient Design</h4>
                <p>Shadow was designed to be scalable, using multiple threads and processes during execution to parallelize simulation workloads. Shadow minimizes memory overhead, and is more efficient than emulation or other container approaches to experimentation.</p>
                <p><br/><a href="https://github.com/shadow/shadow/wiki/0-Design-Overview" class="btn btn-theme">View Design Overview</a></p>
            </div>	
            <div class="col-md-4">
                <i class="fa fa-magic"></i>
                <h4>Simple for Beginners</h4>
                <p>Shadow contains everything you need to get started running simulations immediately.</p>
                <p><br/><a href="https://github.com/shadow/shadow/wiki/2-Getting-Started-Tutorial" class="btn btn-theme">Read Tutorials</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-cogs"></i>
                <h4>Extensible for Experts</h4>
                <p>Shadow's modular design and plug-in architecture make it easy to customize simulations and run new applications. Shadow's default traffic generator can model complex user behaviors using the powerful dependency graph model and the standard GraphML XML syntax.</p>
                <p><br/><a href="https://github.com/shadow/shadow/wiki/3-Simulation-Customization" class="btn btn-theme">Browse Specifications</a></p>
            </div>		
        </div>
    </div><! --/container -->
</div><! --/service -->
