<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Get Informed</h4>
                <div class="hline-w"></div>
                <p>Shadow is a <a href="https://github.com/shadow">collection of open source projects</a> with a <a href="https://github.com/shadow/shadow/blob/master/LICENSE">liberal BSD-style license</a></p>
                <p>Shadow is cited in many <a href="https://scholar.google.com/scholar?oi=bibs&hl=en&cites=12341442653770148265">peer-reviewed articles</a></p>
                <p>Shadow and this site are maintained by <a href="http://www.robgjansen.com/">robgjansen</a></p>
            </div>
            <div class="col-lg-4">
                <h4>Get Help</h4>
                <div class="hline-w"></div>
                <p>Read the <a href="https://github.com/shadow/shadow/wiki">Shadow</a>, <a href="https://github.com/shadow/shadow-plugin-tor/wiki">Tor plug-in</a> and <a href="https://github.com/shadow/shadow-plugin-tor/wiki">Bitcoin plug-in</a> wikis</p>
                <p>Check out some <a href="https://github.com/shadow/shadow/wiki/4-Notes-and-FAQs#frequently-asked-questions">Frequently asked questions</a></p>
                <p>Browse the <a href="http://mailman.cs.umn.edu/archives/shadow-support/">shadow-support mailing list archives</a>, <a href="https://wwws.cs.umn.edu/mm-cs/listinfo/shadow-support">subscribe for membership</a> or <a href="mailto:shadow-support@cs.umn.edu">email the list</a></p>
            </div>
            <div class="col-lg-4">
                <h4>Get Involved</h4>
                <div class="hline-w"></div>
                <p>Report bugs in <a href="https://github.com/shadow/shadow/issues">Shadow</a>, in the <a href="https://github.com/shadow/shadow-plugin-tor/issues">Tor plug-in</a>, or in the <a href="https://github.com/shadow/shadow-plugin-bitcoin/issues">Bitcoin plug-in</a></p>
                <p>Contribute code by <a href="https://github.com/shadow/shadow/pulls">submitting a pull request</a></p>
                <p><a href="mailto:shadow-support@cs.umn.edu">Let us know</a> if your lab or organization is using Shadow</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
