<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Get Informed</h4>
                <div class="hline-w"></div>
                <p>
                Original <a href="http://www.robgjansen.com/publications/shadow-ndss2012.pdf">Shadow paper</a> published at NDSS 2012<br/>
                <a href="https://github.com/shadow/shadow/wiki/0-Design-Overview">Design Overview</a><br/>
                <a href="http://www.robgjansen.com/publications/tormodel-cset2012.pdf">Modeling the Tor Network</a><br/>
                <a href="https://scholar.google.com/scholar?oi=bibs&hl=en&cites=12341442653770148265">Referencing Publications</a><br/>
                <a href="https://github.com/shadow">Open Source</a><br/>
                License: <a href="https://github.com/shadow/shadow/blob/master/LICENSE">BSD-style</a><br/>
                Maintained by <a href="http://www.robgjansen.com/">robgjansen</a><br/>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Get Help</h4>
                <div class="hline-w"></div>
                <p>
                <a href="https://github.com/shadow/shadow/wiki/4-Notes-and-FAQs#frequently-asked-questions">FAQs</a><br/>
                Wiki: <a href="https://github.com/shadow/shadow/wiki">Shadow</a><br/>
                Wiki: <a href="https://github.com/shadow/shadow-plugin-tor/wiki">Tor plug-in</a><br/>
                Wiki: <a href="https://github.com/shadow/shadow-plugin-tor/wiki">Bitcoin plug-in</a><br/>
                Ask the mailing list: <a href="mailto:shadow-support@cs.umn.edu">shadow-support</a><br/>
                <a href="http://mailman.cs.umn.edu/archives/shadow-support/">Archives</a> of shadow-support<br/>
                <a href="http://mailman.cs.umn.edu/archives/shadow-dev/">Archives</a> of shadow-dev<br/>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Get Involved</h4>
                <div class="hline-w"></div>
                <p>
                <a href="https://github.com/shadow/shadow/pulls">Contribute code</a><br/>
                Report bugs: <a href="https://github.com/shadow/shadow/issues">Shadow</a><br/>
                Report bugs: <a href="https://github.com/shadow/shadow-plugin-tor/issues">Tor plug-in</a><br/>
                Report bugs: <a href="https://github.com/shadow/shadow-plugin-bitcoin/issues">Bitcoin plug-in</a><br/>
                <a href="https://wwws.cs.umn.edu/mm-cs/listinfo/shadow-support">Subscribe</a> to shadow-support<br/>
                <a href="https://wwws.cs.umn.edu/mm-cs/listinfo/shadow-dev">Subscribe</a> to shadow-dev<br/>
                <a href="mailto:shadow-support@cs.umn.edu">Let us know</a> if your lab or organization is using Shadow<br/>
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
