<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Shadow is a unique, open source discrete-event network simulator.</h3>
                <h1>Shadow runs real applications like Tor and Bitcoin over a simulated Internet topology.</h1>
                <h5>Shadow combines the accuracy of emulation with the efficiency, scalability, and control of simulation, achieving the best of both approaches.</h5>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/shadow-gears.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
