<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>an open-source network simulator/emulator hybrid</h3>
                <h1>runs real applications like Tor and Bitcoin over a simulated Internet topology</h1>
                <h5>light-weight, efficient, scalable, parallelized, controllable, deterministic, accurate, modular, and more!</h5>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/shadow-gears.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
