<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
      <div class="navbar-tagline">{{ site.tagline }}</div>
    </div>
      <div class="navbar-logo"><img title="Shadow Logo" src="{{ "/assets/img/shadow-logo.png"  | prepend: site.baseurl }}" width="90" /></div>
      <div class="navbar-buttons">
        <!--style="background: url('/assets/img/dl-button-shadow2.png') no-repeat;"-->
        <a href="https://github.com/shadow/shadow/releases/latest" class="btn btn-theme-navbar" >Download Latest</a>
        <a href="https://github.com/shadow" class="btn btn-theme-navbar">Fork on GitHub</a>
        <a href="https://console.aws.amazon.com/ec2/home?region=us-east-1#launchAmi=ami-0f70c366" class="btn btn-theme-navbar">Launch on EC2</a>
      </div>
  </div>
</div>
