<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>Utilized in Practice</h3>
            <p>Shadow is used by groups at these fine establishments:</p>
            <br/>
            {% for user in site.users %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="{{ user.url }}"><img src="{{ "/assets/img/" | prepend: site.baseurl }}{{ user.img }}" style="padding:5px;" ></a>
                </div>
            {% endfor %}
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
